.gallery {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	.gallery-item {
		width:calc(25% - 30px);
		margin:15px;
		@media (max-width:900px) {
			width:calc(33.33% - 30px);
		}
		@media (max-width:768px) {
			width:calc(50% - 30px);
		}
		@media (max-width:480px) {
			width:calc(100% - 30px);
		}
		position:relative;
		.image-overlay {
			background-color:rgba(245,120,120,0.35);
			height:calc(100% - 5px);
			width:100%;
			position:absolute;
			opacity:0;
			transition:0.3s opacity, 0.3s font-size;
			color:$light-color;
			font-weight:300;
			font-size:125px;
			i.fa {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
			}
			&:hover {
				opacity:1;
				font-size:50px;
			}
		}
	}
}