$dark-color:#333;
$medium-color:#ccc;
$light-color:#F7F7F7;
$accent-color:#f57878;

$font-fancy-stack-primary: 'Abril Fatface', cursive;
$font-fancy-stack-secondary: 'Fjalla One', sans-serif;
$font-base-stack: "Open Sans", Helvetica, sans-serif;